/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.heading {
  color: #2d3a35;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
}
span {
  color: #c20a72;
}
.paragraph {
  color: #2d3a35;
  font-family: 'Roboto';
  font-size: 20px;
}
.button {
  background-color: #007bff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  border-style: none;
  font-weight: 200;
}
